/*
section .col-sm-9 {    
    float: none;
}
*/

section .navbar-header {
    float: right;
}

section .navbar-nav {
    float: right;
    margin: 0;
}


section .navbar-right {
    float: left!important;
}



@media (min-width: 768px)
.navbar-header {
    float: right;
}

.test{    
    color: red;
    font-weight: inherit;
}


/*
.content section .col-sm-9 {
    float: left;
}

.content section .col-sm-3 {
    float: right;
}



/*
aside.col.col-sm-3 {
    float: right;
}

*/
article .well-sm  {
    float: none;
    opacity: 0.9; 

}

article .well-md {
    float: none;
    opacity: 0.9; 

}


/*
.wrapper{
    background: linear-gradient(to left, #160116 0%, #a363a5 100%);
}
*/


.wrapper {
    background: linear-gradient(to left, #fff1eb 0%, #ace0f9 100%);
    max-width: 1500px;
    width: 98%;
    margin: 0px auto;
}


.btn-test{

    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.table {    
    border-radius: 10px;
    overflow: hidden;
    background: white;
    opacity: 0.87
}

.panel-group .panel {    
    border-radius: 10px;
}

.navbar-default {    
    border-radius: 10px;
}

#cPanel a{width:180px;height:80px;margin-right:8px;margin-bottom:8px;border-radius:10px;font-size:medium;padding:15px}

th{
    text-align: right;
/*    background: #6c7ae0;*/
    background: #90b0cc;
}


.legend_colour{
/*    color: white;*/
}

.hidden-print{
    margin-bottom: 15px;
}

.materialsidebar {
    font-size: 20px;

    -webkit-text-fill-color: #428bca;
    position: relative;
    top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 20px;
}

.icons {
    margin-right: 5px;
    margin-left: 10px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    opacity: 0.87;
}


.btn-drug{
    color: #fff;
    background-color: #a68da7;
    border-color: #a68da7;
}

.btn-drug:hover, .btn-drug:focus, .btn-drug:active, .btn-drug.active, .open .dropdown-toggle.btn-drug {
    color: #fff;
    background-color: #7a6d8e;
    border-color: #7a6d8e;
}

.btn-lab{
    color: #fff;
    background-color: #b13b4c;
    border-color: #b13b4c;
}

.btn-lab:hover, .btn-lab:focus, .btn-lab:active, .btn-lab.active, .open .dropdown-toggle.btn-lab {
    color: #fff;
    background-color: #942233;
    border-color: #942233;
}

.btn-xray{
    color: #fff;
    background-color: #c09853;
    border-color: #c09853;
}

.btn-xray:hover, .btn-xray:focus, .btn-xray:active, .btn-xray.active, .open .dropdown-toggle.btn-xray {
    color: #fff;
    background-color: #967130;
    border-color: #967130;
}

.btn-income{
    color: #fff;
    background-color: #789e4e;
    border-color: #789e4e;
}

.btn-income:hover, .btn-income:focus, .btn-income:active, .btn-xray.income, .open .dropdown-toggle.btn-income {
    color: #fff;
    background-color: #46691f;
    border-color: #46691f;
}

.btn-consume{
    color: #fff;
    background-color: #777;
    border-color: #777;
}

.btn-consume:hover, .btn-consume:focus, .btn-consume:active, .btn-xray.consume, .open .dropdown-toggle.btn-consume {
    color: #fff;
    background-color: #444141;
    border-color: #444141;
}


